.modalVerificationLayout {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.formSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formControl {
  width: 45%;
}
.formRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.actionBtn {
  display: flex;
  flex-direction: column;
}
